<div class="ui medium header thaiheader">เกี่ยวกับระบบ</div>
<div class="ui secondary vertical menu fluid nav-edit" >
  <a class="item" href="/ask">
    ถาม-ตอบ
  </a>
  <a class="item" href="/recommend" >
    ส่งคำแนะนำในการปรับปรุงระบบ
  </a>
  <a class="item" href="/about">
    ความเป็นมา
  </a>
  <a class="item" href="/dev">
    ผู้พัฒนาและให้คำปรึกษา
  </a>

</div>

<div class="ui medium header thaiheader">รายงาน</div>
<div class="ui secondary vertical menu fluid nav-edit" >
  <a class="item" href="/">
    รายงานจำนวนนักวิจัย
  </a>
  <a class="item" href="/">
    รายงานโครงการ
  </a>
</div>
