<div class="ui inverted vertical footer segment">
  <div class="ui center aligned container">
    <div class="ui stackable inverted divided grid">
      <div class=" four wide column left aligned ">
        <h4 class="ui inverted header">เกี่ยวกับเรา</h4>
        <div class="ui inverted link list">
          <a href="http://www.web.rmutt.ac.th/" target="_blank" class="item">ฝ่ายพัฒนาและเผยแพร่เว็บไซต์</a>
          <a href="https://www.arit.rmutt.ac.th/บริการของฝ่ายฐานข้อมูล/" target="_blank" class="item">ฝ่ายฐานข้อมูลและระบบสารสนเทศ</a>
          <a href="https://www.arit.rmutt.ac.th" target="_blank" class="item">สำนักวิทยบริการและเทคโนโลยีสารสนเทศ</a>
        </div>
      </div>
      <div class="three wide column left aligned ">
        <h4 class="ui inverted header">เกี่ยวกับระบบ</h4>
        <div class="ui inverted link list">
          <a href="/about" target="_blank" class="item">ความเป็นมา</a>
          <a href="/dev" target="_blank" class="item">ผู้พัฒนาและให้คำปรึกษา</a>
        </div>
        <h4 class="ui inverted header">แนะนำเกี่ยวกับระบบ</h4>
        <div class="ui inverted link list">
          <a href="/ask" class="item">ถาม-ตอบ</a>
          <a class="item">ส่งคำแนะนำในการปรับปรุงระบบ</a>
        </div>

      </div>
      <div class="three wide column left aligned ">

        <h4 class="ui inverted header">รายงานสรุปข้อมูล</h4>
        <div class="ui inverted link list ">
          <a href="#" class="item">รายงานจำนวนนักวิจัย</a>
          <a href="#" class="item">รายงานโครงการ</a>
        </div>
        <h4 class="ui inverted header">แบบประเมินอื่นๆ</h4>
        <div class="ui inverted link list">
          <a href="https://www.rmutt.ac.th/evaluation-form" target="_blank" class="item">แบบประเมินความพึงพอใจของผู้ใช้ระบบสารสนเทศ</a>
        </div>
      </div>

      <div class="six wide column ">
        <a href="https://www.rmutt.ac.th/" target="_blank" class="ui medium image">
          <img class="ui medium image" src="/fullnameRMUTT.svg">
        </a>

      </div>
    </div>
    <div class="ui inverted section divider"></div>
    <div class="ui horizontal inverted small divided link list ">
      <p class="item ">© 2019 Rajamangala University of Technology Thanyaburi</p>
    </div>
  </div>
</div>


  <script src="js/plugins/notiny.js" type="text/javascript"></script>
