
<div class="ui medium header thaiheader">ข้อมูลของฉัน</div>
<div class="ui secondary vertical menu fluid nav-edit" >
  <a class="item" href="/edit-profile">
    ข้อมูลส่วนตัว
  </a>
  <a class="item" href="/edit-workinfo">
    ข้อมูลที่ทำงานปัจจุบัน
  </a>
  <a class="item" href="/edit-expertise">
    ความเชี่ยวชาญและทักษะ
  </a>
  <a class="item" href="/edit-career-history" >
    ประวัติการทำงาน
  </a>
  <a class="item" href="/edit-education-history">
    ประวัติการศึกษา
  </a>
</div>

<div class="ui medium header thaiheader">ผลงานของฉัน</div>
<div class="ui secondary vertical menu fluid nav-edit">
  <a class="item" href="/new-work" >
    เพิ่มผลงานใหม่
  </a>

  <a class="item" href="/all-works">
    ผลงานทั้งหมด
  </a>

</div>
