
<div class="ui medium header thaiheader">จัดการบัญชีผู้ใช้</div>
<div class="ui secondary vertical menu fluid nav-edit" >
  <a class="item" href="/allUser">
    ผู้ใช้งานทั้งหมด
  </a>
</div>

<div class="ui medium header thaiheader">จัดการข้อมูลพื้นฐานของระบบ</div>
<div class="ui secondary vertical menu fluid nav-edit">
  <a class="item" href="/new-work" >
    จัดการข้อมูลหน่วยงาน
  </a>
  <a class="item" href="/all-works">
    จัดการข้อมูลความเชี่ยวชาญ
  </a>
  <a class="item" href="/all-works">
    จัดการข้อมูลตำแหน่ง(กพ.)
  </a>

</div>
