<h1 class="ui header">Our Researcher in RMUTT</h1>
<p>This is a basic fixed menu template using fixed size containers.</p>
<p>A text container is used for the main container, which is useful for single column layouts</p>
<!-- <div class="ui secondary  menu">
  <a class="active item">
    ค้นหาทั้งหมด
  </a>
  <div class="item">
    <select class="ui dropdown">
      <option value="">ค้นหาตามหน่วยงาน</option>
      <option value="1">Male</option>
      <option value="0">Female</option>
    </select>
  </div>
  <div class="item">
    <select class="ui dropdown">
      <option value="">ค้นหาตามความเชี่ยวชาญ</option>
      <option value="1">Male</option>
      <option value="0">Female</option>
    </select>
  </div>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
    <div class="ui item">
      <button class="positive ui button">ค้นหา</button>
    </div>
  </div>
</div> -->
