img {
  max-width: 100%;
}
/* 
#canvas {
  height: 400px;
  width: 400px;
  background-color: #ffffff;
  cursor: default;
  border: 1px solid black;
}

#result {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  cursor: default;
  border: 1px solid black;
} */

#canvas {
  height: 600px;
  width: 600px;
  background-color: #ffffff;
  cursor: default;
  border: 1px solid black;
}
