img {
  max-width: 100%;
}
/*
#canvas {
  height: 400px;
  width: 400px;
  background-color: #ffffff;
  cursor: default;
  border: 1px solid black;
}
*/
#result {
  height: 450px;
  width: 450px;
  background-color: #ffffff;
  cursor: default;
  border: 1px solid black;
}

#canvas {
  height: 450px;
  width: 450px;
  background-color: #ffffff;
  cursor: default;
  border: 1px solid black;
}
