<div class="ui modal">


  <i class="close icon"></i>
  <div class="header">รูปประจำตัว</div>

  <div class="image content">
    <div class="ui  image">
      <p>
        <input type="file" id="fileInput" name="fileInput" accept="image/*" value=""/>
        
        <input type="button" id="btnCrop" value="ครอบตัด" />
        <input type="button" id="btnRestore" value="คืนค่า" />
      </p>



      <div>
        <canvas id="canvas">
          Your browser does not support the HTML5 canvas element.
        </canvas>
      </div>

      <div class="ui indicating small progress" data-value="1" data-total="100" id="example0">
        <div class="bar">
          <div class="progress"></div>
        </div>
      </div>

    </div>

    <div class="description">
      <div class="ui header">ตัวอย่าง</div>
      <div id="result"></div>


    </div>

  </div>

  <div class="actions">
    <div class="ui black deny button">
      ยกเลิก
    </div>
    <div class="ui positive right labeled icon button">
      บันทึก
      <i class="checkmark icon"></i>
    </div>
  </div>

</div>
