<h2 class="ui header">
  <i class="briefcase icon"></i>
  <div class="content">
    Experience
  </div>
</h2>


<div class="ui bulleted list">
  <div class="item">
    <div>2017 - now</div>
    <div class="list">
      <h2 class="ui sub header">
        Web developer
      </h2>
      <span>Google</span>
    </div>
  </div>
  <div class="item">
    <div>2017 - now</div>
    <div class="list">
      <h2 class="ui sub header">
        Web developer
      </h2>
      <span>Google</span>
    </div>
  </div>
  <div class="item">
    <div>2017 - now</div>
    <div class="list">
      <h2 class="ui sub header">
        Web developer
      </h2>
      <span>Google</span>
    </div>
  </div>
</div>
<div class="ui divider"></div>
<h2 class="ui header">
  <i class="graduation cap icon"></i>
  <div class="content">
    Education
  </div>
</h2>
<div class="ui bulleted list">
  <div class="item">
    <div>2017</div>
    <div class="list">
      <h2 class="ui sub header">
        Web developer
      </h2>
      <span>Google</span>
    </div>
  </div>
  <div class="item">
    <div>2016</div>
    <div class="list">
      <h2 class="ui sub header">
        Web developer
      </h2>
      <span>Google</span>
    </div>
  </div>
  <div class="item">
    <div>2014</div>
    <div class="list">
      <h2 class="ui sub header">
        Web developer
      </h2>
      <span>Google</span>
    </div>
  </div>
</div>
