<div class="ui  secondary menu " style="font-family: 'Prompt', sans-serif;font-weight:200">
  <a class="active item" data-tab="aa">โครงการ</a>
  <a class="item" data-tab="ab">บริการวิชาการ</a>
  <a class="item" data-tab="ac">รางวัล</a>
  <a class="item" data-tab="ad">อื่น ๆ</a>
</div>


<div class="ui active tab basic segment" data-tab="aa">
  <div class="ui link card">
    <div class="content">
      <div class="header">Cute Dog</div>
      <div class="meta">
        <span class="category">Animals</span>
      </div>
      <div class="description">
        <p>Text messaging, or texting, is the act of composing and sending electronic messages, typically consisting of alphabetic and numeric characters</p>
      </div>
    </div>
    <div class="extra content">
      <div class="right floated author">
        <a href="/portforio"><i class="linkify icon"></i> Read more</a>
      </div>
    </div>
  </div>
  <div class="ui link card">
    <div class="content">
      <div class="header">Cute Dog</div>
      <span class="category">Animals</span>
      <div class="meta">
      </div>
      <div class="description">
        <p>Text messaging, or texting, is the act of composing and sending electronic messages, typically consisting of alphabetic and numeric characters</p>
      </div>
    </div>
    <div class="extra content">
      <div class="right floated author">
        <i class="images icon"></i> view gallery
      </div>
    </div>
  </div>
  <div class="ui link card">
    <div class="content">
      <div class="header">Cute Dog</div>
      <div class="meta">
        <span class="category">Animals</span>
      </div>
      <div class="description">
        <p>Text messaging, or texting, is the act of composing and sending electronic messages, typically consisting of alphabetic and numeric characters</p>
      </div>
    </div>
    <div class="extra content">
      <div class="right floated author">
        <i class="images icon"></i> view gallery
      </div>
    </div>
  </div>
  <div class="ui link card">
    <div class="content">
      <div class="header">Cute Dog</div>
      <div class="meta">
        <span class="category">Animals</span>
      </div>
      <div class="description">
        <p>Text messaging, or texting, is the act of composing and sending electronic messages, typically consisting of alphabetic and numeric characters</p>
      </div>
    </div>
    <div class="extra content">
      <div class="right floated author">
        <i class="images icon"></i> view gallery
      </div>
    </div>
  </div>
  <div class="ui link card">
    <div class="content">
      <div class="header">Cute Dog</div>
      <div class="meta">
        <span class="category">Animals</span>
      </div>
      <div class="description">
        <p>Text messaging, or texting, is the act of composing and sending electronic messages, typically consisting of alphabetic and numeric characters</p>
      </div>
    </div>
    <div class="extra content">
      <div class="right floated author">
        <i class="images icon"></i> view gallery
      </div>
    </div>
  </div>


  <button class="fluid ui button">Load more</button>
</div>

<div class="ui tab basic segment" data-tab="ab">
  <div class="ui link card">
    <div class="content">
      <div class="header">Cute Dog</div>
      <div class="meta">
        <span class="category">Animals</span>
      </div>
      <div class="description">
        <p>Text messaging, or texting, is the act of composing and sending electronic messages, typically consisting of alphabetic and numeric characters</p>
      </div>
    </div>
    <div class="extra content">
      <div class="right floated author">
        <a href="/portforio"><i class="linkify icon"></i> Read more</a>
      </div>
    </div>
  </div>
  <div class="ui link card">
    <div class="content">
      <div class="header">Cute Dog</div>
      <span class="category">Animals</span>
      <div class="meta">
      </div>
      <div class="description">
        <p>Text messaging, or texting, is the act of composing and sending electronic messages, typically consisting of alphabetic and numeric characters</p>
      </div>
    </div>
    <div class="extra content">
      <div class="right floated author">
        <i class="images icon"></i> view gallery
      </div>
    </div>
  </div>
  <div class="ui link card">
    <div class="content">
      <div class="header">Cute Dog</div>
      <div class="meta">
        <span class="category">Animals</span>
      </div>
      <div class="description">
        <p>Text messaging, or texting, is the act of composing and sending electronic messages, typically consisting of alphabetic and numeric characters</p>
      </div>
    </div>
    <div class="extra content">
      <div class="right floated author">
        <i class="images icon"></i> view gallery
      </div>
    </div>
  </div>
  <div class="ui link card">
    <div class="content">
      <div class="header">Cute Dog</div>
      <div class="meta">
        <span class="category">Animals</span>
      </div>
      <div class="description">
        <p>Text messaging, or texting, is the act of composing and sending electronic messages, typically consisting of alphabetic and numeric characters</p>
      </div>
    </div>
    <div class="extra content">
      <div class="right floated author">
        <i class="images icon"></i> view gallery
      </div>
    </div>
  </div>
  <div class="ui link card">
    <div class="content">
      <div class="header">Cute Dog</div>
      <div class="meta">
        <span class="category">Animals</span>
      </div>
      <div class="description">
        <p>Text messaging, or texting, is the act of composing and sending electronic messages, typically consisting of alphabetic and numeric characters</p>
      </div>
    </div>
    <div class="extra content">
      <div class="right floated author">
        <i class="images icon"></i> view gallery
      </div>
    </div>
  </div>

</div>

<div class="ui tab basic segment" data-tab="ac">

  <div class="ui unstackable divided items">
    <div class="item">
      <div class="image">
        <img src="https://semantic-ui.com/images/wireframe/image.png">
      </div>
      <div class="content">
        <a class="header">Header</a>
        <div class="meta">
          <span>Description</span>
        </div>
        <div class="description">
          <p></p>
        </div>
        <div class="extra">
          Additional Details
        </div>
      </div>
    </div>
    <div class="item">
      <div class="image">
        <img src="https://semantic-ui.com/images/wireframe/image.png">
      </div>
      <div class="content">
        <a class="header">Header</a>
        <div class="meta">
          <span>Description</span>
        </div>
        <div class="description">
          <p></p>
        </div>
        <div class="extra">
          Additional Details
        </div>
      </div>
    </div>
    <div class="item">
      <div class="image">
        <img src="https://semantic-ui.com/images/wireframe/image.png">
      </div>
      <div class="content">
        <a class="header">Header</a>
        <div class="meta">
          <span>Description</span>
        </div>
        <div class="description">
          <p></p>
        </div>
        <div class="extra">
          Additional Details
        </div>
      </div>
    </div>
    <div class="item">
      <div class="image">
        <img src="https://semantic-ui.com/images/wireframe/image.png">
      </div>
      <div class="content">
        <a class="header">Header</a>
        <div class="meta">
          <span>Description</span>
        </div>
        <div class="description">
          <p></p>
        </div>
        <div class="extra">
          Additional Details
        </div>
      </div>
    </div>
    <div class="item">
      <div class="image">
        <img src="https://semantic-ui.com/images/wireframe/image.png">
      </div>
      <div class="content">
        <a class="header">Header</a>
        <div class="meta">
          <span>Description</span>
        </div>
        <div class="description">
          <p></p>
        </div>
        <div class="extra">
          Additional Details
        </div>
      </div>
    </div>
  </div>

</div>

<div class="ui tab basic  segment" data-tab="ad">

  <div class="ui unstackable divided items">
    <div class="item">
      <div class="image">
        <img src="https://semantic-ui.com/images/wireframe/image.png">
      </div>
      <div class="content">
        <a class="header">Header</a>
        <div class="meta">
          <span>Description</span>
        </div>
        <div class="description">
          <p></p>
        </div>
        <div class="extra">
          Additional Details
        </div>
      </div>
    </div>
    <div class="item">
      <div class="image">
        <img src="https://semantic-ui.com/images/wireframe/image.png">
      </div>
      <div class="content">
        <a class="header">Header</a>
        <div class="meta">
          <span>Description</span>
        </div>
        <div class="description">
          <p></p>
        </div>
        <div class="extra">
          Additional Details
        </div>
      </div>
    </div>
  </div>


</div>
