<% include ../partials/head %>
<title>ความเป็นมา | RMUTT Researcher</title>

<link  href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.3/cropper.css" rel="stylesheet">
<script  src="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.3/cropper.js" ></script>


<script src="js/edit-profile.js"></script>
<link href="css/edit-profile.css" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Prompt:300,400,500&display=swap&subset=thai" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Sarabun:100,200,300,400,500,600,700&display=swap" rel="stylesheet">

<script src="js/plugins/dropzone.js"></script>

<body class="thaiheader">
  <% include ../partials/topbar %>

  <div class="ui  container" style="padding:6rem 1rem 1rem 1rem;">

    <div class="ui grid">
      <div class="two column large screen only row">
        <div class="column">
          <div class="ui basic segment">

          </div>
        </div>
        <div class="column">
          <div class="ui basic segment">

          </div>
        </div>
      </div>
    </div>

    <div class="ui stackable two column grid container" style="min-height:60vh;">

      <div class="column five wide">
        <% include ../partials/aboutBar %>
      </div>

      <div class="column eleven wide ">
        <div class="row">
          <h1 class="ui header" style="font-family: 'Sarabun', sans-serif;font-weight:600">ความเป็นมา</h1>
          <div class="ui basic segment">

          </div>

        </div>
      </div>


    </div>





  </div>

  <% include ../partials/footer %>
</body>

</html>
