<% include ../partials/head %>
<title>ความเป็นมา | RMUTT Researcher</title>

<link href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.3/cropper.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.3/cropper.js"></script>


<script src="js/edit-profile.js"></script>
<link href="css/edit-profile.css" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Prompt:300,400,500&display=swap&subset=thai" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Sarabun:100,200,300,400,500,600,700&display=swap" rel="stylesheet">

<script src="js/plugins/dropzone.js"></script>
<style type="text/css">
  .masthead {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(picture/airport-architecture-building-239919.jpg) !important;
    /* background-repeat: no-repeat;
     background-position: center;
     background-attachment: scroll; */


    /* Create the parallax scrolling effect */
    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }

  .hidden.menu {
    display: none;
  }

  .masthead.segment {
    min-height: 700px;
    padding: 1em 0em;
  }

  .masthead .logo.item img {
    margin-right: 1em;
  }

  .masthead .ui.menu .ui.button {
    margin-left: 0.5em;
  }

  .masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
  }

  .masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
  }

  .ui.vertical.stripe {
    padding: 8em 0em;
  }

  .ui.vertical.stripe h3 {
    font-size: 2em;
  }

  .ui.vertical.stripe .button+h3,
  .ui.vertical.stripe p+h3 {
    margin-top: 3em;
  }

  .ui.vertical.stripe .floated.image {
    clear: both;
  }

  .ui.vertical.stripe p {
    font-size: 1.33em;
  }

  .ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
  }

  .quote.stripe.segment {
    padding: 0em;
  }

  .quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
  }

  .footer.segment {
    padding: 5em 0em;
  }

  .secondary.pointing.menu .toc.item {
    display: none;
  }

  @media only screen and (max-width: 700px) {
    .ui.fixed.menu {
      display: none !important;
    }

    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
      display: none;
    }

    .secondary.pointing.menu .toc.item {
      display: block;
    }

    .masthead.segment {
      min-height: 350px;
    }

    .masthead h1.ui.header {
      font-size: 2em;
      margin-top: 1.5em;
    }

    .masthead h2 {
      margin-top: 0.5em;
      font-size: 1.5em;
    }
  }
</style>
<script>
  $(document)
    .ready(function() {

      // fix menu when passed
      $('.masthead')
        .visibility({
          once: false,
          onBottomPassed: function() {
            $('.fixed.menu').transition('fade in');
          },
          onBottomPassedReverse: function() {
            $('.fixed.menu').transition('fade out');
          }
        });

      // create sidebar and attach to menu open
      $('.ui.sidebar')
        .sidebar('attach events', '.toc.item');

    });
</script>

<body class="pushable">

  <!-- Following Menu -->
  <div class="ui large top fixed menu transition hidden">
    <div class="ui container">
      <a class=" item">หน้าแรก</a>
      <a class="active item" href="/about">เกี่ยวกับ</a>
      <a class="item">ผู้พัฒนา</a>
      <a class="item" href="/ask">ถาม-ตอบ</a>
      <a class="item">ส่งคำแนะนำ</a>
      
    </div>
  </div>

  <!-- Sidebar Menu -->
  <div class="ui vertical inverted sidebar menu left">
    <a class=" item">หน้าแรก</a>
    <a class="active item" href="/about">เกี่ยวกับ</a>
    <a class="item">ผู้พัฒนา</a>
    <a class="item" href="/ask">ถาม-ตอบ</a>
    <a class="item">ส่งคำแนะนำ</a>
  </div>


  <!-- Page Contents -->
  <div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">

      <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
          <a class="toc item">
            <i class="sidebar icon"></i>
          </a>
          <a class=" item">หน้าแรก</a>
          <a class="active item" href="/about">เกี่ยวกับ</a>
          <a class="item">ผู้พัฒนา</a>
          <a class="item" href="/ask">ถาม-ตอบ</a>
          <a class="item">ส่งคำแนะนำ</a>

        </div>
      </div>

      <div class="ui text container">
        <h1 class="ui inverted header">Portfolio RMUTT</h1>
        <h2>Connect people together.</h2>
        <a class="ui huge primary button" href="/">Get Started <i class="right arrow icon"></i></a>
      </div>

    </div>

    <div class="ui vertical stripe segment">
      <div class="ui middle aligned stackable grid container">
        <div class="row">
          <div class="eight wide column">
            <h3 class="ui header"><i class="certificate icon"></i> เป้าหมายหลักของเว็บไซต์</h3>
            <p>สนับสนุนการแสดงผลงานโครงการต่าง ๆ ที่นักวิจัยและบุคคลากรของมหาวิทยาลัย</p>
            <h3 class="ui header">เพิ่มช่องทางในการทำความรู้จัก</h3>
            <p>เพื่อเป็นอีกหนึ่งช่องทางในการค้นหาและติดต่อระหว่างบุคคลภายนอกกับนักวิจัยและบุคคลากรของมหาวิทยาลัย</p>
          </div>
          <div class="six wide right floated column">
            <img src="picture/online-connect.svg" class="ui Medium centered  rounded image">
          </div>
        </div>

      </div>
    </div>


    <div class="ui vertical stripe quote segment">
      <div class="ui equal width stackable internally celled grid">
        <div class="center aligned row">
          <div class="column">
            <h3>"รวบรวมผลงาน"</h3>
            <p>เก็บรวบรวบโครงการต่าง ๆ อย่างเป็นหมวดหมู่</p>
          </div>
          <div class="column">
            <h3>"แสดงผลงานบนเว็บไซต์"</h3>
            <p>แสดงผลงานที่เคยทำบนเว็บไซต์</p>
          </div>
        </div>
      </div>
    </div>

    <div class="ui vertical stripe segment">
      <div class="ui text container">
        <h3 class="ui header">Breaking The Grid, Grabs Your Attention</h3>
        <p>Instead of focusing on content creation and hard work, we have learned how to master the art of doing nothing by providing massive amounts of whitespace and generic content that can seem massive, monolithic and worth your attention.</p>
        <a class="ui large button">Read More</a>

      </div>
    </div>


    <% include ../partials/footer %>
  </div>




</body>
