<title>RMUTT Researcher</title>
<% include ../partials/head %>

<script src="js/index.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />

<style>
  .dataTables_wrapper table thead {
    display: none;
  }

  .dataTables_wrapper .dataTables_length {
    display: none;
  }

  .dataTables_wrapper .dataTables_filter {
    display: none;
  }
</style>

<script>
  $(document).ready(function() {

    var table = $('#examplew').DataTable();

    $('#myInput ').on('keyup', function() {
      table.search(this.value).draw();
    });

    $('#searchWorkPlace').on('change', function() {
      table.search(this.value).draw();
    });

    $('#searchExpertise').on('change', function() {
      table.search(this.value).draw();
    });
  });
</script>

<body>
  <% include ../partials/topbar %>





  <div class="ui stackable two column grid container" style="margin:52.625px 0px 20px 0px">

    <div class="column five wide ">
      <div class="ui form">
        <h1 class="ui header">กรองการค้นหา</h1>
        <p>ค้นหาชื่อ นามสกุล ชื่อหน่วยงาน หรือความเชี่ยวชาญ</p>
        <div class="field">
          <input type="text" id="myInput" placeholder="ค้นหา" class="inputForSearch">
        </div>
        <div class="ui divider"></div>
        <p>กรุณาเลือกตัวกรองอย่างใดอย่างหนึ่ง</p>

        <div class="ui fluid  selection dropdown search">
          <input type="hidden" name="user" id="searchWorkPlace" class="inputForSearch">
          <i class="dropdown icon"></i>
          <div class="default text">หน่วยงาน</div>
          <div class="menu">

            <% if(workplace.length){
                  for(let k = 0;k < workplace.length;k++) { %>
            <div class="item" data-value="<%=workplace[k].wpName%>"><%=workplace[k].wpName%></div>
            <% }
                }else{ %>
            <% } %>

          </div>
        </div>

        <div class="ui horizontal divider">หรือ</div>
        <div class="ui fluid selection dropdown">
          <input type="hidden" name="" id="searchExpertise" class="inputForSearch">
          <i class="dropdown icon"></i>
          <div class="default text">ความเชี่ยวชาญ</div>
          <div class="menu">
            <% if(expertise.length){
                  for(let m = 0;m < expertise.length;m++) { %>
            <div class="item" data-value="<%=expertise[m].expertiseName%>"><%=expertise[m].expertiseName%></div>
            <% }
                }else{ %>
            <% } %>
          </div>
        </div>
        <div class="ui divider"></div>
      </div>

    </div>

    <div class="column eleven wide">
      <% include ../datatable/expDaTatable %>


    </div>

  </div>





  <% include ../partials/footer %>

</body>
