<% include ../partials/head %>
<title>เพิ่มผลงานใหม่ | RMUTT Researcher</title>

<script src="js/plugins/ckeditor.js"></script>
<script src="js/new-work.js"></script>

<link href="css/datepicker.css" rel="stylesheet">
<script src="js/plugins/datepicker.js"></script>

<link href="https://fonts.googleapis.com/css?family=Prompt:300,400,500&display=swap&subset=thai" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Sarabun:100,200,300,400,500,600,700&display=swap" rel="stylesheet">


<body class="thaiheader">
  <% include ../partials/topbar %>
  <% include ../partials/flash %>
  <div class="ui  container" style="padding:6rem 1rem 1rem 1rem;">

    <div class="ui grid">
      <div class="two column large screen only row">
        <div class="column">
          <div class="ui basic segment">

          </div>
        </div>
        <div class="column">
          <div class="ui basic segment">

          </div>
        </div>
      </div>
    </div>

    <div class="ui stackable two column grid container contentbody">

      <div class="column five wide ">

        <% include ../partials/nav-edit %>

      </div>

      <div class="column eleven wide ">
        <h1 class="ui header" style="font-family: 'Sarabun', sans-serif;font-weight:600">เพิ่มผลงานใหม่</h1>
        <div class="row">
          <div class="ui basic segment">
            <form id="newWorkFormID" class="ui form" action="/new-work" method="post" enctype="multipart/form-data">



              <div class="two fields">
                <div class="field four wide">
                  <label>ปี</label>
                  <div class="ui  fluid input">
                    <input name="pfoYears" id="pfoYears" data-toggle="datepicker" placeholder="ใส่เป็นปี ค.ศ." autocomplete="off">
                  </div>
                </div>
                <div class="field">
                  <label>ประเภทผลงาน</label>
                  <select name="pfoCatagoryID" id="pfoCatagoryID" class="ui dropdown">
                    <option value="โครงการ" selected="selected">โครงการ</option>
                    <option value="บริการวิชาการ">บริการวิชาการ</option>
                    <option value="รางวัล">รางวัล</option>
                    <option value="อื่น ๆ">อื่น ๆ</option>
                  </select>
                </div>
              </div>



              <div class="field">
                <label>ชื่อ</label>
                <div class="fields">
                  <div class="sixteen wide field">
                    <div class="ui  fluid input">
                      <input name="pfoTitile" id="pfoTitile" type="text" placeholder="ชื่อผลงาน">
                    </div>
                  </div>

                </div>
              </div>

              <div class="field">
                <label>เกริ่นนำ</label>
                <div class="fields">
                  <div class="sixteen wide field">
                    <textarea rows="2" ></textarea>
                  </div>

                </div>
              </div>

              <div class="field">
                <label>รายละเอียด</label>
                <div class="fields">
                  <div class="sixteen wide field">
                    <textarea name="pfoDetails" id="pfoDetails">
                        &lt;p&gt;<h2>ใส่รายละเอียดผลงาน</h2><br> ของคุณที่นี่&lt;/p&gt;
                    </textarea>
                  </div>

                </div>
              </div>

              <div class=" field">
                <input name="pfoImage" id="pfoImage" type="file" multiple>
              </div>

              <div class=" field">
                <button class="ui button primary" type="submit">เพิ่ม</button>
              </div>
              <div class="ui error message"></div>
              <div class="ui divider" ></div>
            </form>




            <div class=" field">
              <div class="ui fluid image gallery"></div>
            </div>


          </div>
        </div>

      </div>


    </div>


    <div class="ui grid">
      <div class="two column large screen only row">
        <div class="column">
          <div class="ui basic segment">

          </div>
        </div>
        <div class="column">
          <div class="ui basic segment">

          </div>
        </div>
      </div>
    </div>


  </div>

  <% include ../partials/footer %>
</body>
